extends adminLayout

block main
  h1.page-header
  h2.table-title Article list
    .table-responsive
      table.table.table-hover.table-striped.text-center
        thead
          tr.item
            th username
            th Time
            th Operation
        tbody
          tr
            td fdsafa
            td fdsafa
            td fdsafa
            td fdsafa
