extends include/iframeCom

block content
  .container-fluid.box-style.p15.mt20
    p.text-breakall 这是一个基于mongodb+express+bootstrap+node的响应式个人博客
    p 更多请查看我的
      a(href="https://github.com/i2Echo/kujohnblog") github
      | 仓库
block sidebar
  include include/sidebar