extends layout

block content
  //.h1 Bring International Day of Happiness in-house
  .h1 #{title}
  p.text-indent Sunday March 20 is the International Day of Happiness. Celebrate by considering how the research on positive psychology can help your organization, and commit to at least one act of happiness.The International Day of Happiness is a global event celebrated by the United Nations to highlight their development goals which seek to end poverty, reduce inequality, and protect our planet – three key aspects that lead to well-being and happiness.

  nav
    ul.pager
      li
        a(href='#')Pre
      li
          a(href='#')Next