doctype html
html
  head
    meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
  body
    header.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-navbar')
              span.sr-only Toggle Navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand#logo-img(href='#')
              img.img-circle(width='40', height='40', src='/images/logo.png')
          .collapse.navbar-collapse#bs-navbar
            ul.nav.navbar-nav.text-center
              li.active
                a(href='#') Home
              li
                a(href='#') Archives
              li
                a(href='#') About
            .nav.navbar-nav.navbar-right.text-center#user
                button.btn.btn-default.navbar-btn#login-btn(type='button') sign in
                button.btn.btn-success.navbar-btn#reg-btn(type='button') sign up
    .head-img
      img.fixed-bg(src='/images/bg.jpg')
    .main.container-fluid
      .container
        .row
          .col-sm-8.col-sm-offset-1.blog-main
            block content
          .col-sm-3.page-sidebar
            block sidebar
      footer.bs-footer.pull-left
        p.copyright.text-center Powered by <a id='author' href='#'>echo</a> &copy;2016
    #totop(style="opacity: 1; display: block;")
      a(title="返回顶部")
        img(src='/images/scrollup.png')

    script(type='text/javascript', src='/javascripts/jquery-1.12.1.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/totop.js')