doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/plugins/summernote/summernote.css')

    <!--[if IE]>
    <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->

  body
    .wallpaper
      block wrapper
    #totop(style="opacity: 1; display: block;")
      a(title="返回顶部")
        img(src='/images/scrollup.png')

      //script(type='text/javascript', src='/javascripts/jquery-1.12.1.js')
      script(type='text/javascript', src='//cdn.bootcss.com/jquery/2.1.4/jquery.min.js')
      script.
        window.jQuery || document.write('<script src="/javascripts/jquery-2.1.4.min.js"><\/script>')

      script(type='text/javascript', src='/javascripts/bootstrap.min.js')
      script(type='text/javascript', src='/javascripts/totop.js')
      script(type='text/javascript', src='/plugins/summernote/summernote.js')

      if (success || error)
        script.
          $("#alertMessage").fadeTo(2000, 1000).slideUp(1000, function () {
            $("#alertMessage").alert('close');
          });
      script.
        $(document).ready(function(){
          $('#summernote').summernote({
            height: 150,
            codemirror: { // codemirror options
              theme: 'monokai'
            },
            placeholder: 'write here...'
          });
          $(".close").click(function () {
            $("#alertMessage").alert();
          });

        });
        $(function (){
            $("[data-toggle='popover']").popover();

            $('[data-toggle="tooltip"]').tooltip();
        });