extends layout

block content
  include article-list
block sidebar
  .side-box.container-fluid
    .side-box-title.h4 Archives
    ul.side-box-body
      li
        a(href='#') time1
      li
        a(href='#') time2
      li
        a(href='#') time3
