extends layout

block content
  .sign-box
    form(method='post',action='/signup')
      .modal-header
        h3.modal-title#regModalLabel Register
      .modal-body
        .form-group
          label(for='regUsername') Username
          input.form-control#regUsername(type='text',placeholder='Username',name="name")
        .form-group
          label(for='regPassword') Password
          input.form-control#regPassword(type='password',placeholder='Password',name="password")
        .form-group
          label(for='confirmPassword') Confirm your password
          input.form-control#confirmPassword(type='password',placeholder='Password',name="password-repeat")
        button.btn.btn-success.btn-block(type='submit') Sign up