extends include/iframeProfile

block content
  if title == 'profileSet'
    include include/profileSet
  if title == 'articleManage'
    include include/articleManage
  if title == 'articleUpdate'
    include include/articleUpdate

block sidebar
  include include/settingSide