.footer.navbar(role='navigation')
  .container
    ul.nav.navbar-nav
      li
        a(href='/') Home
      li
        a(href='/archives') Archives
      li
        a(href='/about') About
      li
        a.copyright.text-center &copy; 2016 echo