.side-box.container-fluid#profile-box
  .profile-box-title.h4 Profile
  .profile-box-body.text-center
    .profile-logo
      a.upload(href='/upload')
        img.img-circle(width='100', height='100', src='/images/logo.png',data-toggle="tooltip" data-placement="top" title='Change profile img')
      input.hide(type="file" name="image" value="")
    .profile-info
      h4
      strong #{user.name}
      h5
        strong About
      p a student of the CCNU
      .row.container-fluid
        .col-sm-4.container-fluid.user-meta
          .art
            a(href='#')
              i.fa.fa-file-text
                strong 66
              span Articles
        .col-sm-4.container-fluid.user-meta
          .foll
            a(href='#')
              i.fa.fa-heart 
                strong 7
              span Following
        .col-sm-4.container-fluid.user-meta
          .fav
            a(href='#')
              i.fa.fa-user         
                strong 34
              span Followers
      .user-btn.row.text-center
        button.btn.btn-success
          span.fa.fa-envelope
          | message
        button.btn.btn-success
          span.fa.fa-user-plus
          | following
