.panel.panel-default.side-panel
  .panel-heading
    h1.panel-title Profile setting
  .list-group.set-item
    a.list-group-item.active(href='/user/settings/profile') Profile
    a.list-group-item(href='#') Manage article
    a.list-group-item(href='#') Password