*{
  margin: 0;
  padding: 0;
}

body {
  padding-top: 200px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.md-btn{
  margin: 5px auto;
}

a#logo-img{
  padding: 5px 15px;
  margin-right: 40px;
}

.head-img{
  width: 100%;
  height: 200px;
  position: fixed;
  top: 0;
  z-index: -1;
  left: 0;
}
img.fixed-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
/*user login*/
#user{
  padding: 0 20px;
}
#user button{
  margin-right: 5px;
}
#login,#reg{
  margin-top: 100px;
}
.ubox{
  max-width: 450px;
  margin: 0 auto;
}
form.modal-body{
  margin-bottom: 20px;
}


.main{
  background-color: #f2f2f3;
  padding-top: 20px;
}

/*content*/
.text-indent{
  text-indent: 2em;
}
.content-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 30px auto;
  padding-top: 15px;
  background-color: #fff;
}
.side-box:hover,
.content-box:hover{
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,.4);
  -moz-box-shadow: 0 4px 8px rgba(0,0,0,.4);
  box-shadow: 0 4px 8px rgba(0,0,0,.4);
  border-radius: 2px;
}
.box-title{
  line-height: 3em;
}

.discrible span{
  margin-right: 10px;
  line-height: 20px;
}
.discrible .author{
  font-weight: 700;
  /*display: inline-block;*/
  /*max-width: 150px;*/
  /*overflow: hidden;*/
  /*white-space: nowrap;*/
  /*text-overflow: ellipsis;*/
  /*-o-text-overflow: ellipsis;*/
}

.profile-box-body i.fa,
.content-box i.fa{
  margin: 0 5px;
  color: #747474;
}
.box-body{
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px 0;
}
.box-body a#more{
  font-weight: 700;
}
.box-foot{
  margin: 10px auto;
}
.write-article{
  background-color: #fff;
  margin-top: 50px;
}
.write-article .post-btn{
  margin: 15px auto;
  max-width: 300px;
}
.write-article .article-title{
  border-bottom: 1px solid #ccc;
}

/*sidebar*/
.page-sidebar a#atom{
  margin: 30px auto 20px;
  background-color: #2d2d2d;
  border-radius: 2px;
  color: #fff;
}
.page-sidebar ul{
  list-style: none;
}
.page-sidebar a#atom:hover{
  margin: 30px auto 20px;
  background-color: #000;
  border-radius: 2px;
}
.page-sidebar .side-box{
  background-color: #fff;
  margin: 20px auto;
}
.side-box .side-box-body{
  margin: 15px auto;
}
.side-box ul.side-box-body li{
  border-bottom: 1px solid #ccc;
  line-height: 30px;
  /*font-size: 16px;*/
  padding-left: 15px;
}
.page-sidebar a.tag{
  margin: 5px;
  display: inline-block;
}
#profile-box{
  margin-top: 30px;
}
#profile-box .profile-box-title{
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
#profile-box .user-btn button{
  margin: 10px 5px;
  color: #fff;
}

/*footer*/
.bs-footer{
  width: 100%;
  margin: 50px auto;
}

#totop{
  position: fixed;
  bottom: 5em;
  right: 1em;
  cursor: pointer;
}
@media only screen and (max-width: 1024px){
  #totop {
    display: none !important;
  }
}