*{
  margin: 0;
  padding: 0;
}
body {
  padding-top: 200px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.bd-top{border-top:1px solid #eee;}
.m0-5{margin: 0 5px;}
.max-w300{ max-width: 300px;}
.m15-a{ margin: 15px auto;}
.p15{padding: 15px;}
.mt20{margin-top: 20px;}
.cred{color: red;}
a {color: #4078c0;}
/*table style*/
table{border-bottom:1px solid #f3f3f3;}
.table>thead>tr.item>th {
  border-bottom: 2px solid #337ab7;
  text-align: center;
}
.table>tbody>tr>td{vertical-align: middle!important;}
.table-hover>tbody>tr:hover {
  background-color: #f5f5f5;
}
@media (min-width: 768px )and (max-width:775px){
  .main .row{margin-right: -5px;}
}

/*alert*/
#alertMessage{
  margin-bottom: 0;
  text-align: center;
}

.upload-file-btn{
  position: absolute;
  left: 0;
  top: 0;
  min-height: 39px;
  max-width: 158px;
  opacity: 0.0001;
  cursor: pointer;
}
.upload-picture a{
  position: relative;
  margin: 10px;
}
.upload-picture p{
  margin-left: 10px;
}
.upload-picture{ margin-left: 80px;}
/*.set-item a.list-group-item{*/
  /*color: #4078c0;*/
/*}*/
.profile-form textarea,
.profile-form input{
  max-width: 500px;
}
.profile-info{word-break: break-all;}
/*.md-btn{margin: 5px auto;}*/
.hove-style:hover{
  color: #d45658;
  text-decoration: none;
}
.head-mate{
  min-width: 70px;
  height: 50px;
  color: #fff;
  line-height: 50px;
  margin-left: 5px;
}
a#logo-img{
  padding: 5px 10px;
}
.btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}
.btn.search-btn{
  background-color: #fff;
  border: 1px solid #ccc;
  color: #999;
  border-left:none;
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
}
.head-img{
  width: 100%;
  height: 200px;
  position: fixed;
  top: 0;
  z-index: -1;
  left: 0;
}
img.fixed-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/*user login*/

#user .btn{
  width: 80px;
  margin-right: 5px;
}

#login,#reg{
  margin-top: 100px;
}
.sign-box{
  max-width: 450px;
  margin: 0 auto;
  background-color: #fff;
}
form.modal-body{
  margin-bottom: 20px;
}
.side-panel{
  margin-top: 30px;
}
.profile-panel{
  margin-top: 20px;
}

.wallpaper{
  width: 100%;
  min-height: 100%;
  background-color: #e9e9e9;
}
.main{
  padding-top: 20px;
}
@media (min-width: 768px){
  #box-left{
    padding-right: 30px;
  }
}

div.blog-main{
  padding: 0;
  margin-top: 10px;
}
.blog-main .content-box{
  padding: 0;
}

.footer.navbar{
  min-height: 100px;
  margin-top: 60px;
  margin-bottom: 0;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}
.footer ul>li{
  line-height: 100px;
}

@media (max-width: 767px){
  .footer .navbar-nav li{
    line-height: 30px;
  }
  .footer .navbar-nav li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
  }
  .footer .navbar-nav{
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.footer .navbar-nav{
  float: none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  text-align: center;
}
.footer ul.nav>li>a{
  /*padding: 40px auto;*/
  display: inline;
}
/*content*/
.text-indent{
  text-indent: 2em;
}
.content-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px auto;
  padding-top: 15px;
  background-color: #fff;
  word-break:break-all;
}
.content-box .discrible{
  margin: 0 10px;
}
.content-box .list-title{
  border-left: 4px solid #000;
  padding-left: 15px;
}
.box-style{
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  border-radius: 2px;
}
.box-style:hover{
  -webkit-box-shadow: 0 0 2px 4px rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 2px 4px rgba(0,0,0,.1);
  box-shadow: 0 0 2px 4px rgba(0,0,0,.1);
  border-radius: 2px;
}

.box-title{
  line-height: 30px;
  font-weight: 700;
  font-size: 24px;
  margin: 10px auto;
}
.art-title{
    margin-top: 30px;
}

.box-title P{
  color: #000;
}
.discrible span{
  margin-right: 10px;
  line-height: 20px;
}
.discrible .author{
  font-weight: 700;
  /*display: inline-block;*/
  /*max-width: 150px;*/
  /*overflow: hidden;*/
  /*white-space: nowrap;*/
  /*text-overflow: ellipsis;*/
  /*-o-text-overflow: ellipsis;*/
}

.profile-box-body i.fa,
.content-box i.fa{
  margin: 0 5px;
  color: #747474;
}
.box-body{
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 10px 0;
}
.box-body .article-list{
  max-height: 130px;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  margin: 10px 15px;
}
.box-body .article-content{
  margin: 10px 15px; 
}
.box-body a#more{
  font-weight: 700;
  margin-left: 20px;
}
div.box-foot{
  margin: 10px 0;
}
.box-foot .pull-right{
  margin: 0 15px;
}
.box-foot .pv,
.box-foot .cmt{
  min-width: 40px;
}
nav ul.pager{
  margin: 30px 15px 10px;
}

.write-article{
  background-color: #fff;
  margin-top: 20px;
  padding-top: 15px;
}

.write-article .post-btn{
  margin: 15px auto;
  max-width: 300px;
}
.write-article .article-title{
  border-bottom: 1px solid #ddd;
}

/*sidebar*/
div.page-sidebar {
  padding: 0;
}
.side-com{
  padding: 10px 0;
  background-color: #fff;
  margin-top: 30px;
}
.page-sidebar a#atom{
  margin: 10px auto 20px;
  background-color: #2d2d2d;
  border-radius: 2px;
  color: #fff;
  width: 90%;
}
.page-sidebar ul{
  list-style: none;
}
.page-sidebar a#atom:hover{
  background-color: #000;
  border-radius: 2px;
}
.page-sidebar .side-box{
  background-color: #fff;
  margin: 20px auto;
  border-top: 1px solid #ddd;
}
.side-box .side-box-body{
  margin: 15px auto;
}
.side-box ul.side-box-body li{
  border-bottom: 1px solid #ddd;
  line-height: 30px;
  /*font-size: 16px;*/
  padding-left: 15px;
}
.page-sidebar a.tag{
  margin: 5px;
  display: inline-block;
}
#profile-box{
  margin-top: 30px;
  background-color: #fff;
}
#profile-box .profile-box-title{
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
#profile-box .user-btn a{
  margin: 10px 5px;
  color: #fff;
  min-width: 92px;
}
#profile-box .user-btn span{
    margin: auto 5px;
}
#profile-box .user-meta{
  padding: 0px;
  /*margin-left: 0;*/
  min-width: 55px;
  display: inline-block;
}
#profile-box .user-meta strong{
  margin: auto 5px;
  color: #4078c0;
}
#profile-box .user-meta span{
  font-size: 12px;  
  color: #b0b0b0;
  /*min-width: 55px;*/
  display: block;
}

/*comment*/
.comment .write-comment{
  margin: 20px 0 0;
  padding: 20px;
  border-bottom: 1px solid #ddd;

}
.comment .comment-list {
  padding: 20px;
}
.comment .comment-mate a.from{
  margin: 0 10px;
}
.comment .comment-info{
  margin-left: 40px;
}

.archive-left-list{
  font-size: 16px;
  font-weight: 700;
}
.archives .archive-list{
  margin-left: 120px;
  padding: 20px 0;
  /*border-bottom: 1px solid #eee;*/
}
.archives .archive-list .archive-title{
  line-height: 30px;
  font-size: 18px;
}
.archives .archive-list .archive-mate{
  margin-top: 4px;
}
.archives .archive-year{
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
}

#totop{
  position: fixed;
  bottom: 5em;
  right: 1em;
  cursor: pointer;
}
@media only screen and (max-width: 1024px){
  #totop {
    display: none !important;
  }
}